*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    border: 2px solid teal;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post > button {
    border: 1px solid teal;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.post > button:hover {
    background-color: teal;
    color: white;
}